{% extends 'layout/base.html' %}

{% block content %}
    <p class='about'><b>About us</b><br> ipsum dolor sit amet consectetur adipisicing elit. Nulla veniam cumque eius veritatis. 
        Totam, enim. Sed nisi, ut inventore facere enim ullam unde, modi error quasi ipsa ratione, 
        porro sint minima. Fugit nobis expedita perspiciatis. Reiciendis repellat ab dolorum excepturi in, 
        mollitia distinctio sequi possimus ipsa necessitatibus asperiores voluptatem perferendis dolore dicta 
        aliquam ducimus non unde explicabo illo sunt, consequatur eos, consequuntur enim. Aut dicta culpa at
        luptas totam quasi rerum!</p>
{% endblock content %}